<!DOCTYPE html>
<html ng-app="testApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularJS • TodoMVC</title>
    <link rel="stylesheet" href="components/todomvc-common/base.css">
    <style>[ng-cloak] {
        display: none
    }</style>

    <script src="https://www.dropbox.com/static/api/1/dropbox-datastores-0.1.0-b2.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="dropstore-ng.js"></script>
    <script src="js/directives/todoFocus.js"></script>
    <script src="js/directives/todoBlur.js"></script>
    <title></title>
</head>
<body ng-controller="pageTestCtrl">
<header id="header">
    <h1>todos</h1>

    <form id="todo-form" ng-submit="addTodo()">
        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
    </form>
</header>
<section id="main" ng-show="tasks.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
        <li ng-repeat="todo in tasks"
            ng-class="{completed: todo.get('completed'), editing: todo == editedTodo}">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="recordWrapper(todo,'completed').mdl">
                <label ng-dblclick="editTodo(todo)">{{todo.get('taskname')}}</label>
                <button class="destroy" ng-click="removeTodo(todo)"></button>
            </div>
            <form ng-submit="doneEditing(todo)">
                <input class="edit" ng-model="editTodoText.text" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
            </form>
        </li>
    </ul>
</section>
<footer id="footer" ng-show="tasks.length" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount"
                                  when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
    <ul id="filters">
        <li>
            <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
        </li>
        <li>
            <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
        </li>
        <li>
            <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
        </li>
    </ul>
    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed
        ({{completedCount}})
    </button>
</footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>

    <p>dropstore-ng Todo Demo based on <a href="http://todomvc.com">TodoMVC</a> By:
        <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
        <a href="http://ericbidelman.com">Eric Bidelman</a>,
        <a href="http://jacobmumm.com">Jacob Mumm</a> and
        <a href="http://igorminar.com">Igor Minar</a>
    </p>

    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
</body>
</html>